Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /

  RewriteCond %{HTTP:X-Darkdrive-Request} !^update$
  RewriteRule ^latest\.zip(\.sha256)?$ - [F,L,NC]

  RewriteRule ^manifest\.json$ index.php?route=manifest.json [NC,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?route=$1&%{QUERY_STRING} [NC,L]
  RewriteCond %{QUERY_STRING} ^route=(thumb|load)/ [NC]
  RewriteRule ^$ index.php [NC,L]
  RewriteCond %{REQUEST_METHOD} !POST [NC]
  RewriteCond %{QUERY_STRING} ^route=(.*)$ [NC]
  RewriteRule ^$ /%1? [NC,L,R]
</IfModule>

<FilesMatch "^(readme\.md|test\.php)$">
  Require all denied
</FilesMatch>

<FilesMatch "^darksync\.(sh|py)$">
  Require all granted
  ForceType text/plain
</FilesMatch>

<IfModule mod_expires.c>
  ExpiresActive On

  <FilesMatch "\.(?!php$)[a-zA-Z0-9]+$">
    ExpiresDefault "access plus 12 hours"
  </FilesMatch>
</IfModule>